body {
	height: 100%;
	cursor: url("icon.png"), auto;
}

.grid__container {
	display: grid;
	grid-template-columns: 93% 5%;
	height: 100vh;
	padding: 10px;
}

.top {
	display: none;
}

.yuming2,
.lu2,
.nave__bar__phone {
	display: none;
}

.nave__bar {
	display: grid;
	grid-template-rows: 40% 20% 20% 15%;
	border-left: 1px solid black;
	text-align: right;
	font-style: oblique;
}

.projects {
	writing-mode: vertical-rl;
	text-align: left;
	font-family: 'Tajawal', sans-serif;
	font-size: 23px;
	padding-right: 25px;
	padding-top: 15px;
}

.projects:hover {
	font-size: 30px;
	color: #E0A794;
	cursor: url("iconbig.png"), auto;
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #E0A794;
	background-color: transparent;
	text-decoration: none;
	cursor: url("iconbig.png"), auto;
}

a:active {
	color: black;
	background-color: transparent;
	text-decoration: none;
}


.back {
	writing-mode: vertical-rl;
	text-align: left;
	font-family: 'Tajawal', sans-serif;
	font-size: 23px;
	padding-right: 25px;
	color: #E0A794;
}

.about {
	writing-mode: vertical-rl;
	text-align: right;
	font-family: 'Tajawal', sans-serif;
	font-size: 23px;
	padding-right: 25px;
}

.about:hover {
	font-size: 30px;
	color: #E0A794;
	cursor: url("iconbig.png"), auto;
}

.home {
	writing-mode: vertical-rl;
	text-align: right;
	font-family: 'Tajawal', sans-serif;
	font-size: 23px;
	padding-right: 25px;
}

.home:hover {
	font-size: 30px;
	color: #E0A794;
	cursor: url("iconbig.png"), auto;
}

.quartercircle__yellow {
	background: #CDBE3E;
	border-bottom-right-radius: 180px;
	height: 180px;
	width: 180px;
	position: fixed;
	top: 0px;
	left: 0px;
}

.halfcircle__pink {
	background: #E0A794;
	border-bottom-left-radius: 260px;
	border-bottom-right-radius: 260px;
	height: 130px;
	width: 260px;
	margin-left: 820px;
	top: 0px;
	position: fixed;
}

.circle__yellow {
	background: #CDBE3E;
	border-radius: 180px;
	height: 180px;
	width: 180px;
	position: absolute;
	margin-left: 1050px;
	margin-top: 130px;
	animation-name: circle__yellow;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes circle__yellow {
	0% {
		width: 180px;
		height: 180px;
	}

	50% {
		width: 90px;
		height: 90px;
	}

	100% {
		width: 180px;
		height: 180px;
	}
}

.circle__pink {
	background: #E0A794;
	border-radius: 280px;
	height: 280px;
	width: 280px;
	position: fixed;
	left: 130px;
	bottom: 30px;
	animation-name: circle__pink;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes circle__pink {
	0% {
		width: 200px;
		height: 200px;
	}

	50% {
		width: 280px;
		height: 280px;
	}

	100% {
		width: 200px;
		height: 200px;
	}
}

.halfcircle__purple {
	background: #C6C6DE;
	border-top-left-radius: 240px;
	border-top-right-radius: 240px;
	height: 120px;
	width: 240px;
	margin-left: 950px;
	bottom: 0px;
	position: fixed;
}

.myphoto {
	position: absolute;
	margin-left: 680px;
	margin-top: 232px;
}

.yuming {
	position: absolute;
	margin-top: 270px;
	margin-left: 300px;
}

.lu {
	position: absolute;
	margin-top: 370px;
	margin-left: 530px;
}

.myphoto2 {
	display: none;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
	.nave__bar {
		display: none;
	}

	.myphoto {
		display: none;
	}

	.myphoto2 {
		display: block;
		position: absolute;
		margin-top: 570px;
		margin-left: 550px;
	}

	.top {
		display: block;
		position: absolute;
		margin-top: -70px;
		margin-left: -20px;
	}

	.quartercircle__yellow {
		background: #CDBE3E;
		border-top-left-radius: 700px;
		border-bottom-right-radius: 0px;
		height: 700px;
		width: 700px;
		position: fixed;
		margin-top: 2540px;
		margin-left: 830px;
	}

	.circle__pink,
	.halfcircle__purple,
	.circle-yellow {
		display: none;
	}

	.halfcircle__pink {
		background: #E0A794;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 800px;
		border-bottom-right-radius: 800px;
		height: 800px;
		width: 800px;
		margin-left: -430px;
		margin-top: 1600px;
		position: fixed;
	}

	.yuming,
	.lu {
		display: none;
	}

	.yuming2 {
		display: block;
		position: fixed;
		margin-left: 500px;
		margin-top: 1600px;
	}

	.lu2 {
		display: block;
		position: fixed;
		margin-left: 1080px;
		margin-top: 1850px;
	}

	.nave__bar__phone {
		display: block;
		border-bottom: 1px solid black;
	}

	.home__phone {
		display: block;
		position: fixed;
		font-family: 'Tajawal', sans-serif;
		font-size: 90px;
		margin-left: -800px;
		margin-top: 370px;
		font-style: oblique;
	}

	.about__phone {
		display: block;
		position: fixed;
		font-family: 'Tajawal', sans-serif;
		font-size: 90px;
		margin-left: -420px;
		margin-top: 370px;
		font-style: oblique;
	}

	.back__phone {
		display: block;
		position: fixed;
		font-family: 'Tajawal', sans-serif;
		font-size: 90px;
		margin-left: 0px;
		margin-top: 370px;
		font-style: oblique;
		color: #E0A794;
	}

	.projects__phone {
		display: block;
		position: fixed;
		font-family: 'Tajawal', sans-serif;
		font-size: 90px;
		margin-left: 200px;
		margin-top: 370px;
		font-style: oblique;
	}
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
	.circle__pink {
		animation: none !important;
		margin-left: 20px;
		margin-top: 50px;
		width: 150px;
		height: 150px;
	}
	
	.circle__yellow {
		display:none;
		animation: none !important;
		margin-left: 750px;
		margin-top: 50px;
		width: 100px;
		height: 100px;
		position: absolute;
	}
	
	.halfcircle__pink{
		display: none;
		margin-left: 500px;
		width: 230px;
		height: 120px;
	}
	
	.halfcircle__purple{
		display: none;
	}
	
	.nave__bar{
		display: ;
	}
	
	.yuming{
		position:absolute;
		margin-left: 150px;
		margin-top: 150px;
	}
	
	.lu{
		margin-left: 370px;
		margin-top: 240px;
	}
	
	.myphoto{
		display:block;
		margin-left: 520px;
		margin-top: 80px;
	}

}

